Repository defn/dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: cue-fmt, sh-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml

  - repo: local
    hooks:
      - id: cue-fmt
        name: cue-fmt
        entry: bash -c 'for a in "$@"; do cue fmt --simplify "$a"; done' ''
        language: system
        files: '\.cue$'
        pass_filenames: true

  - repo: local
    hooks:
      - id: sh-fmt
        name: sh-fmt
        entry: shfmt -w
        language: system
        files: "^(bin/|etc/(service|hook-start))"
        pass_filenames: true

generalize cmd
  bin/d
Due: sh-fmt

ignore pex
  .gitignore
Due: none

generate aws-vault organization role config
  bin/awsconfig
Due: sh-fmt

fix sso_url
  bin/awsconfig
Due: sh-fmt

use Administrator role for the org account
  bin/awsconfig
Due: sh-fmt

fix test for org account
  bin/awsconfig
Due: sh-fmt

org doesnt have a role
  bin/awsconfig
Due: sh-fmt

install build-essentials
  Earthfile
Due: none

Revert "install build-essentials"
  Earthfile
Due: none

dont install pants
  Earthfile
Due: none

run pre-commit
  .aws/.gitignore
  bin/awsenv
  bin/d
Due: sh-fmt

need pip for pants
  Earthfile
Due: none

upgrade defn/boot: v0.0.99
  .gitignore
  .pre-commit-config.yaml
  GNUmakefile
  Tiltfile
  cue.mods
  cue.sums
  main.cue
  pants
  pants.toml
Due: cue-fmt

upgrade defn/boot v0.0.100
  GNUmakefile
  cue.mods
  cue.sums
Due: none

upgrades
  .env
  .gitignore
  .tool-versions
  .tool-versions-all
  Earthfile
Due: none

make rebuild
  Makefile.site
Due: none

prevent more than one dev from running
  Makefile.site
Due: none

use local pre-commit cache
  .bashrc
  Earthfile
  Makefile.site
Due: none

use physical directories for cache
  .bashrc
  Earthfile
Due: none

fix pre-commit artifact
  .bashrc
  .earthlyignore
  Earthfile
  Makefile.site
Due: none

remove hardcoded paths
  Earthfile
  Makefile.site
Due: none

allow dev to run from cloud
  Makefile.site
Due: none

use pre-commit udc
  Earthfile
Due: none

upgrade boot: make pc
  GNUmakefile
  Makefile.site
  cue.mods
  cue.sums
Due: none

dont use make ci
  Makefile.site
Due: none

install keeper command, black
  Earthfile
Due: none

move devcontainer trigger out of fly
  Makefile.site
  fly/Makefile
Due: none

dont export PRE_COMMIT_HOME
  .bashrc
Due: none

upgrade npm 8.12.1
  .env
Due: none

no poetry, keeper
  Earthfile
Due: none

upgrade cdktf to 0.11.1
  .env
Due: none

ignore all locks
  .gitignore
Due: none

pc is a script
  .bashrc
  GNUmakefile
  bin/pc
  cue.mods
  cue.sums
Due: sh-fmt

pc install
  bin/pc
Due: sh-fmt

using -f to only use pre-commit
  bin/pc
Due: sh-fmt

Revert "using -f to only use pre-commit"
  bin/pc
Due: sh-fmt

upgrade boit: fix pc
  GNUmakefile
  cue.mods
  cue.sums
Due: none

upgrade boot: no cue, pants pre-commit
  .pre-commit-config.yaml
  cue.mods
  cue.sums
Due: none

fix cdktf version, upgrade tilt, steampipe
  .env
Due: none

set localhost docker host only if socket not found
  .bashrc
Due: none
