Repository defn/dev: changes, and which Buildkite steps are due for each by the changed paths.
All: ./.buildkite/deploy-cf-pages.sh m/w/sites/amanibhav.am, ./.buildkite/deploy-cf-pages.sh m/w/sites/d3fn.app, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.co, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.red, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.blue, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.app, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.cloud, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.co.in, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.dev, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.net, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.org, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.sh, ./.buildkite/deploy-cf-pages.sh m/w/sites/destructuring.org, ./.buildkite/deploy-cf-pages.sh m/w/sites/devopsfor.us, ./.buildkite/deploy-cf-pages.sh m/w/sites/fam.fan, ./.buildkite/deploy-cf-pages.sh m/w/sites/gorillama.com, ./.buildkite/deploy-cf-pages.sh m/w/sites/hana.studio

.buildkite/pipeline.yml:

steps:
  - label: trunk check
    command: ./.buildkite/bin/trunk-check.sh
  - label: bazel build
    command: ./.buildkite/bin/bazel-build.sh
  - label: home build
    command: ./.buildkite/bin/home-build.sh
  - label: Website deploys
    plugins:
      - monorepo-diff#v1.2.0:
          watch:
            - path: m/w/sites/amanibhav.am/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/amanibhav.am
            - path: m/w/sites/d3fn.app/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/d3fn.app
            - path: m/w/sites/defn.co/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.co
            - path: m/w/sites/defn.red/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.red
            - path: m/w/sites/defn.blue/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.blue
            - path: m/w/sites/defn.app/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.app
            - path: m/w/sites/defn.cloud/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.cloud
            - path: m/w/sites/defn.co.in/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.co.in
            - path: m/w/sites/defn.dev/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.dev
            - path: m/w/sites/defn.net/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.net
            - path: m/w/sites/defn.org/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.org
            - path: m/w/sites/defn.sh/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.sh
            - path: m/w/sites/destructuring.org/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/destructuring.org
            - path: m/w/sites/devopsfor.us/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/devopsfor.us
            - path: m/w/sites/fam.fan/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/fam.fan
            - path: m/w/sites/gorillama.com/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/gorillama.com
            - path: m/w/sites/hana.studio/
              config:
                command: ./.buildkite/deploy-cf-pages.sh m/w/sites/hana.studio

feat: awscli/ 2.23.5 -> 2.23.6 [skip ci]
  m/pkg/awscli/flake.json
  m/pkg/awscli/flake.nix
Due: none

bump awscli version=null vendor=2.23.6 revision=1 awscli/ 2.23.5 -> 2.23.6 [skip ci]
  m/pkg/awscli/flake.json
Due: none

feat: kubelogin/ 1.32.0 -> 1.32.1 [skip ci]
  m/pkg/kubelogin/flake.json
  m/pkg/kubelogin/flake.nix
Due: none

bump kubelogin version=null vendor=1.32.1 revision=1 kubelogin/ 1.32.0 -> 1.32.1 [skip ci]
  m/pkg/kubelogin/flake.json
Due: none

feat: mise/ 2025.1.9 -> 2025.1.14 [skip ci]
  m/pkg/mise/flake.json
  m/pkg/mise/flake.nix
Due: none

bump mise version=null vendor=2025.1.14 revision=1 mise/ 2025.1.9 -> 2025.1.14 [skip ci]
  m/pkg/mise/flake.json
Due: none

feat: workerd/ 1.20250124.0 -> 1.20250124.3 [skip ci]
  m/pkg/workerd/flake.json
  m/pkg/workerd/flake.nix
Due: none

bump workerd version=null vendor=1.20250124.3 revision=1 workerd/ 1.20250124.0 -> 1.20250124.3 [skip ci]
  m/pkg/workerd/flake.json
Due: none

fix: remove unused flakes: crossplane, devspace, hugo, kn, minikube, zellij
  m/pkg/crossplane/BUILD.bazel
  m/pkg/crossplane/flake.json
  m/pkg/crossplane/flake.lock
  m/pkg/crossplane/flake.nix
  m/pkg/crossplane/validate
  m/pkg/devspace/BUILD.bazel
  m/pkg/devspace/flake.json
  m/pkg/devspace/flake.lock
  m/pkg/devspace/flake.nix
  m/pkg/devspace/validate
  m/pkg/hugo/BUILD.bazel
  m/pkg/hugo/flake.json
  m/pkg/hugo/flake.lock
  m/pkg/hugo/flake.nix
  m/pkg/kn/BUILD.bazel
  m/pkg/kn/flake.json
  m/pkg/kn/flake.lock
  m/pkg/kn/flake.nix
  m/pkg/kn/validate
  m/pkg/minikube/BUILD.bazel
  m/pkg/minikube/flake.json
  m/pkg/minikube/flake.lock
  m/pkg/minikube/flake.nix
  m/pkg/minikube/validate
  m/pkg/zellij/.envrc
  m/pkg/zellij/BUILD.bazel
  m/pkg/zellij/flake.json
  m/pkg/zellij/flake.lock
  m/pkg/zellij/flake.nix
  m/pkg/zellij/validate
Due: none

process todo movies
  m/cv/Justfile
Due: none

more users
  m/coder/template/TODO
Due: none

feat: change me link on every website
  m/w/sites/amanibhav.am/src/content/docs/index.mdx
  m/w/sites/d3fn.com/src/content/docs/index.mdx
  m/w/sites/defn.app/src/content/docs/index.mdx
  m/w/sites/defn.blue/src/content/docs/index.mdx
  m/w/sites/defn.cloud/src/content/docs/index.mdx
  m/w/sites/defn.co.in/src/content/docs/index.mdx
  m/w/sites/defn.co/src/content/docs/index.mdx
  m/w/sites/defn.dev/src/content/docs/index.mdx
  m/w/sites/defn.net/src/content/docs/index.mdx
  m/w/sites/defn.org/src/content/docs/index.mdx
  m/w/sites/defn.red/src/content/docs/index.mdx
  m/w/sites/defn.run/src/content/docs/index.mdx
  m/w/sites/defn.sh/src/content/docs/index.mdx
  m/w/sites/defn.us/src/content/docs/index.mdx
  m/w/sites/destructuring.org/src/content/docs/index.mdx
  m/w/sites/devopsfor.us/src/content/docs/index.mdx
  m/w/sites/fam.fan/src/content/docs/index.mdx
  m/w/sites/gorillama.com/src/content/docs/index.mdx
  m/w/sites/hana.studio/src/content/docs/index.mdx
  m/w/sites/hanafina.com/src/content/docs/index.mdx
  m/w/sites/imma.io/src/content/docs/index.mdx
  m/w/sites/kowloon.defn.run/src/content/docs/index.mdx
  m/w/sites/kowloonwalled.city/src/content/docs/index.mdx
  m/w/sites/nghiem.io/src/content/docs/index.mdx
Due: ./.buildkite/deploy-cf-pages.sh m/w/sites/amanibhav.am, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.co, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.red, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.blue, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.app, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.cloud, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.co.in, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.dev, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.net, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.org, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.sh, ./.buildkite/deploy-cf-pages.sh m/w/sites/destructuring.org, ./.buildkite/deploy-cf-pages.sh m/w/sites/devopsfor.us, ./.buildkite/deploy-cf-pages.sh m/w/sites/fam.fan, ./.buildkite/deploy-cf-pages.sh m/w/sites/gorillama.com, ./.buildkite/deploy-cf-pages.sh m/w/sites/hana.studio

docs: regen amanibhav.am
  m/w/sites/amanibhav.am/dist/index.html
  m/w/sites/amanibhav.am/dist/pagefind/fragment/en_5566174.pf_fragment
  m/w/sites/amanibhav.am/dist/pagefind/fragment/en_5691718.pf_fragment
  m/w/sites/amanibhav.am/dist/pagefind/index/en_153b40c.pf_index
  m/w/sites/amanibhav.am/dist/pagefind/index/en_9338125.pf_index
  m/w/sites/amanibhav.am/dist/pagefind/pagefind-entry.json
  m/w/sites/amanibhav.am/dist/pagefind/pagefind.en_3726d661bc.pf_meta
  m/w/sites/amanibhav.am/dist/pagefind/pagefind.en_cffbbe318d.pf_meta
Due: ./.buildkite/deploy-cf-pages.sh m/w/sites/amanibhav.am

fix: build github pages again
  .github/workflows/static.yaml
Due: none

upgrade: go and npm packages
  m/.bazelignore
  m/go.mod
  m/go.sum
  m/package-lock.json
  m/w/sites/amanibhav.am/package-lock.json
  m/w/sites/d3fn.com/package-lock.json
  m/w/sites/defn.app/package-lock.json
  m/w/sites/defn.blue/package-lock.json
  m/w/sites/defn.cloud/package-lock.json
  m/w/sites/defn.co.in/package-lock.json
  m/w/sites/defn.co/package-lock.json
  m/w/sites/defn.dev/package-lock.json
  m/w/sites/defn.net/package-lock.json
  m/w/sites/defn.org/package-lock.json
  m/w/sites/defn.red/package-lock.json
  m/w/sites/defn.run/package-lock.json
  m/w/sites/defn.sh/package-lock.json
  m/w/sites/defn.us/package-lock.json
  m/w/sites/destructuring.org/package-lock.json
  m/w/sites/devopsfor.us/package-lock.json
  m/w/sites/fam.fan/package-lock.json
  m/w/sites/gorillama.com/package-lock.json
  m/w/sites/hana.studio/package-lock.json
  m/w/sites/hanafina.com/package-lock.json
  m/w/sites/imma.io/package-lock.json
  m/w/sites/kowloon.defn.run/package-lock.json
  m/w/sites/kowloonwalled.city/package-lock.json
  m/w/sites/nghiem.io/package-lock.json
  m/w/sites/package-lock.json
Due: ./.buildkite/deploy-cf-pages.sh m/w/sites/amanibhav.am, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.co, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.red, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.blue, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.app, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.cloud, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.co.in, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.dev, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.net, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.org, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.sh, ./.buildkite/deploy-cf-pages.sh m/w/sites/destructuring.org, ./.buildkite/deploy-cf-pages.sh m/w/sites/devopsfor.us, ./.buildkite/deploy-cf-pages.sh m/w/sites/fam.fan, ./.buildkite/deploy-cf-pages.sh m/w/sites/gorillama.com, ./.buildkite/deploy-cf-pages.sh m/w/sites/hana.studio

say hello
  m/w/sites/amanibhav.am/dist/404.html
  m/w/sites/amanibhav.am/dist/guides/example/index.html
  m/w/sites/amanibhav.am/dist/index.html
  m/w/sites/amanibhav.am/dist/pagefind/fragment/en_5691718.pf_fragment
  m/w/sites/amanibhav.am/dist/pagefind/fragment/en_c048e8a.pf_fragment
  m/w/sites/amanibhav.am/dist/pagefind/index/en_9338125.pf_index
  m/w/sites/amanibhav.am/dist/pagefind/index/en_cd1defc.pf_index
  m/w/sites/amanibhav.am/dist/pagefind/pagefind-entry.json
  m/w/sites/amanibhav.am/dist/pagefind/pagefind.en_3726d661bc.pf_meta
  m/w/sites/amanibhav.am/dist/pagefind/pagefind.en_ea11eb46a8.pf_meta
  m/w/sites/amanibhav.am/dist/reference/example/index.html
  m/w/sites/amanibhav.am/src/content/docs/index.mdx
  m/w/sites/package-lock.json
Due: ./.buildkite/deploy-cf-pages.sh m/w/sites/amanibhav.am

remove hello
  m/w/sites/amanibhav.am/dist/index.html
  m/w/sites/amanibhav.am/dist/pagefind/fragment/en_5691718.pf_fragment
  m/w/sites/amanibhav.am/dist/pagefind/fragment/en_c048e8a.pf_fragment
  m/w/sites/amanibhav.am/dist/pagefind/index/en_9338125.pf_index
  m/w/sites/amanibhav.am/dist/pagefind/index/en_cd1defc.pf_index
  m/w/sites/amanibhav.am/dist/pagefind/pagefind-entry.json
  m/w/sites/amanibhav.am/dist/pagefind/pagefind.en_3726d661bc.pf_meta
  m/w/sites/amanibhav.am/dist/pagefind/pagefind.en_ea11eb46a8.pf_meta
  m/w/sites/amanibhav.am/src/content/docs/index.mdx
Due: ./.buildkite/deploy-cf-pages.sh m/w/sites/amanibhav.am

docs: use tufte.css
  m/w/sites/.joyride-site/scripts/tutorial.cljs
  m/w/sites/amanibhav.am/astro.config.mjs
  m/w/sites/amanibhav.am/public/LICENSE
  m/w/sites/amanibhav.am/public/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot
  m/w/sites/amanibhav.am/public/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg
  m/w/sites/amanibhav.am/public/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf
  m/w/sites/amanibhav.am/public/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff
  m/w/sites/amanibhav.am/public/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot
  m/w/sites/amanibhav.am/public/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg
  m/w/sites/amanibhav.am/public/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf
  m/w/sites/amanibhav.am/public/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff
  m/w/sites/amanibhav.am/public/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot
  m/w/sites/amanibhav.am/public/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg
  m/w/sites/amanibhav.am/public/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf
  m/w/sites/amanibhav.am/public/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff
  m/w/sites/amanibhav.am/public/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot
  m/w/sites/amanibhav.am/public/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg
  m/w/sites/amanibhav.am/public/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf
  m/w/sites/amanibhav.am/public/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff
  m/w/sites/amanibhav.am/public/et-book/et-book-semi-bold-old-style-figures/et-book-semi-bold-old-style-figures.eot
  m/w/sites/amanibhav.am/public/et-book/et-book-semi-bold-old-style-figures/et-book-semi-bold-old-style-figures.svg
  m/w/sites/amanibhav.am/public/et-book/et-book-semi-bold-old-style-figures/et-book-semi-bold-old-style-figures.ttf
  m/w/sites/amanibhav.am/public/et-book/et-book-semi-bold-old-style-figures/et-book-semi-bold-old-style-figures.woff
  m/w/sites/amanibhav.am/public/img/exports-imports.png
  m/w/sites/amanibhav.am/public/img/imagequilt-animal-sounds.png
  m/w/sites/amanibhav.am/public/img/imagequilt-chinese-calligraphy.png
  m/w/sites/amanibhav.am/public/img/napoleons-march.png
  m/w/sites/amanibhav.am/public/img/rhino.png
  m/w/sites/amanibhav.am/public/img/table-example-be-page-159.png
  m/w/sites/amanibhav.am/public/latex.css
  m/w/sites/amanibhav.am/public/tufte.css
  m/w/sites/amanibhav.am/src/content.config.ts
  m/w/sites/amanibhav.am/src/content/docs/guides/example.md
  m/w/sites/amanibhav.am/src/content/docs/index.mdx
  m/w/sites/amanibhav.am/src/content/docs/reference/example.md
  m/w/sites/amanibhav.am/src/pages/index.astro
Due: ./.buildkite/deploy-cf-pages.sh m/w/sites/amanibhav.am

doc: remove figures, code blocks, add change me
  m/w/sites/amanibhav.am/dist/img/exports-imports.png
  m/w/sites/amanibhav.am/dist/img/imagequilt-animal-sounds.png
  m/w/sites/amanibhav.am/dist/img/imagequilt-chinese-calligraphy.png
  m/w/sites/amanibhav.am/dist/img/napoleons-march.png
  m/w/sites/amanibhav.am/dist/img/rhino.png
  m/w/sites/amanibhav.am/dist/img/table-example-be-page-159.png
  m/w/sites/amanibhav.am/dist/index.html
  m/w/sites/amanibhav.am/dist/latex.css
  m/w/sites/amanibhav.am/public/img/exports-imports.png
  m/w/sites/amanibhav.am/public/img/imagequilt-animal-sounds.png
  m/w/sites/amanibhav.am/public/img/imagequilt-chinese-calligraphy.png
  m/w/sites/amanibhav.am/public/img/napoleons-march.png
  m/w/sites/amanibhav.am/public/img/rhino.png
  m/w/sites/amanibhav.am/public/img/table-example-be-page-159.png
  m/w/sites/amanibhav.am/public/latex.css
  m/w/sites/amanibhav.am/src/pages/index.astro
Due: ./.buildkite/deploy-cf-pages.sh m/w/sites/amanibhav.am

docs: remove rhino img, supply favicon.ico
  m/w/sites/amanibhav.am/public/favicon.ico
  m/w/sites/amanibhav.am/src/pages/index.astro
Due: ./.buildkite/deploy-cf-pages.sh m/w/sites/amanibhav.am

feat: add astro joyride config
  m/w/sites/.joyride-astro/scripts/tutorial.cljs
  m/w/sites/.joyride-starlight/scripts/tutorial.cljs
  m/w/sites/amanibhav.am/.joyride
  m/w/sites/d3fn.com/.joyride
  m/w/sites/defn.app/.joyride
  m/w/sites/defn.blue/.joyride
  m/w/sites/defn.cloud/.joyride
  m/w/sites/defn.co.in/.joyride
  m/w/sites/defn.co/.joyride
  m/w/sites/defn.dev/.joyride
  m/w/sites/defn.net/.joyride
  m/w/sites/defn.org/.joyride
  m/w/sites/defn.red/.joyride
  m/w/sites/defn.run/.joyride
  m/w/sites/defn.sh/.joyride
  m/w/sites/defn.us/.joyride
  m/w/sites/destructuring.org/.joyride
  m/w/sites/devopsfor.us/.joyride
  m/w/sites/fam.fan/.joyride
  m/w/sites/gorillama.com/.joyride
  m/w/sites/hana.studio/.joyride
  m/w/sites/hanafina.com/.joyride
  m/w/sites/imma.io/.joyride
  m/w/sites/kowloon.defn.run/.joyride
  m/w/sites/kowloonwalled.city/.joyride
  m/w/sites/nghiem.io/.joyride
  m/w/sites/package-lock.json
Due: ./.buildkite/deploy-cf-pages.sh m/w/sites/amanibhav.am, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.co, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.red, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.blue, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.app, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.cloud, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.co.in, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.dev, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.net, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.org, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.sh, ./.buildkite/deploy-cf-pages.sh m/w/sites/destructuring.org, ./.buildkite/deploy-cf-pages.sh m/w/sites/devopsfor.us, ./.buildkite/deploy-cf-pages.sh m/w/sites/fam.fan, ./.buildkite/deploy-cf-pages.sh m/w/sites/gorillama.com, ./.buildkite/deploy-cf-pages.sh m/w/sites/hana.studio

fix: docs previwing again
  m/w/sites/.joyride-astro/scripts/tutorial.cljs
  m/w/sites/.joyride-starlight/scripts/tutorial.cljs
  m/w/sites/amanibhav.am/.joyride
  m/w/sites/d3fn.com/.joyride
  m/w/sites/defn.app/.joyride
  m/w/sites/defn.app/astro.config.mjs
  m/w/sites/defn.blue/.joyride
  m/w/sites/defn.cloud/.joyride
  m/w/sites/defn.co.in/.joyride
  m/w/sites/defn.co/.joyride
  m/w/sites/defn.dev/.joyride
  m/w/sites/defn.net/.joyride
  m/w/sites/defn.org/.joyride
  m/w/sites/defn.red/.joyride
  m/w/sites/defn.run/.joyride
  m/w/sites/defn.sh/.joyride
  m/w/sites/defn.us/.joyride
  m/w/sites/destructuring.org/.joyride
  m/w/sites/devopsfor.us/.joyride
  m/w/sites/fam.fan/.joyride
  m/w/sites/gorillama.com/.joyride
  m/w/sites/hana.studio/.joyride
  m/w/sites/hanafina.com/.joyride
  m/w/sites/imma.io/.joyride
  m/w/sites/kowloon.defn.run/.joyride
  m/w/sites/kowloonwalled.city/.joyride
  m/w/sites/nghiem.io/.joyride
Due: ./.buildkite/deploy-cf-pages.sh m/w/sites/amanibhav.am, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.co, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.red, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.blue, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.app, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.cloud, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.co.in, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.dev, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.net, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.org, ./.buildkite/deploy-cf-pages.sh m/w/sites/defn.sh, ./.buildkite/deploy-cf-pages.sh m/w/sites/destructuring.org, ./.buildkite/deploy-cf-pages.sh m/w/sites/devopsfor.us, ./.buildkite/deploy-cf-pages.sh m/w/sites/fam.fan, ./.buildkite/deploy-cf-pages.sh m/w/sites/gorillama.com, ./.buildkite/deploy-cf-pages.sh m/w/sites/hana.studio

fix: fix amanibhav.am joyride link
  m/w/sites/amanibhav.am/.joyride
Due: ./.buildkite/deploy-cf-pages.sh m/w/sites/amanibhav.am

check if .app_up is non-empty
  .config/joyride/src/tutlib.cljs
  m/w/sites/.gitignore
  m/w/sites/package-lock.json
Due: none

poll for port open
  m/w/sites/.mise-tasks/__/up
Due: none

fix: create the .app_up file asap
  Justfile
Due: none

chore: ignore .app_up
  m/.gitignore
Due: none

feat: optional tutorial mode, create the app_tutorial file
  Justfile
  m/coder/template/coder-defn-k8s-template/cdk.tf
Due: none

chore: ignore .app_tutorial
  m/.gitignore
Due: none

feat: joyride runs tutorial
  .config/joyride/scripts/user_activate.cljs
  m/w/sites/.joyride-astro/scripts/tutorial.cljs
Due: none

feat: enable tutorial on amanibhav.am workspace
  m/w/sites/amanibhav.am/dist/favicon.ico
  m/w/sites/amanibhav.am/dist/index.html
  m/w/sites/amanibhav.am/src/pages/index.astro
Due: ./.buildkite/deploy-cf-pages.sh m/w/sites/amanibhav.am

fix: manual tutorial trigger working
  .local/share/code-server/User/keybindings.json
Due: none

feat: mise/ 2025.1.14 -> 2025.1.15 [skip ci]
  m/pkg/mise/flake.json
  m/pkg/mise/flake.nix
Due: none

bump mise version=null vendor=2025.1.15 revision=1 mise/ 2025.1.14 -> 2025.1.15 [skip ci]
  m/pkg/mise/flake.json
Due: none

chore: init new users
  m/coder/template/TODO
Due: none

upgrade: trunk
  .trunk/trunk.yaml
Due: none

fix: use workspace activate scripts to load tutorial
  .config/joyride/scripts/user_activate.cljs
  .config/joyride/src/tutlib.cljs
  m/w/sites/.joyride-astro/scripts/tutorial.cljs
  m/w/sites/.joyride-astro/scripts/workspace_activate.cljs
Due: none
